html {
  background-color: black;
  color: green;
}

a {
  color: red;
}

img {
  /* width: 20%; */
}

.main-header {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  width: 800px;
  height: 50px;
}

.aa-logo {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* border: 3px solid purple; */
  max-width: 45px;
  height: auto;
  object-fit: contain;
}


.stupid-dog {
  width: 20%;
}

.empty-space {
  height: 1000px;
}
